@charset "UTF-8";
/* URIs */
/* Colors */
/* Sizes */
/* Mixins */
/* Functions */
/* line 1, ../scss/mod/_reset.scss */
body, h1, h2, h3, h4, h5, h6, p, dl, dd, form, ul, ol, pre, blockquote, textarea, input, figure {
  margin: 0;
}

/* line 5, ../scss/mod/_reset.scss */
ul, ol, th, td, button, textarea, input {
  padding: 0;
}

/* line 9, ../scss/mod/_reset.scss */
ul, ol {
  list-style: none;
}

/* line 13, ../scss/mod/_reset.scss */
a {
  text-decoration: none;
}

/* line 17, ../scss/mod/_reset.scss */
article, footer, header, nav, section {
  display: block;
}

/* line 21, ../scss/mod/_reset.scss */
button, input, textarea {
  outline: none;
}

/* line 8, ../scss/mod/_theme.scss */
html {
  font: 14px Tahoma, Arial, Helvetica, "Microsoft YaHei", "宋体", sans-serif;
  overflow: hidden;
  overflow-y: scroll;
}

/* line 14, ../scss/mod/_theme.scss */
body {
  font: 14px/1.5 Tahoma, Arial, Helvetica, "Microsoft YaHei", "宋体", sans-serif;
  background: #C0DFEF url("/static/theme/default/img/bg.jpg") repeat-x;
}
/* line 18, ../scss/mod/_theme.scss */
body ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #ECECEC;
}
/* line 23, ../scss/mod/_theme.scss */
body ::-webkit-scrollbar-thumb {
  background-color: #F8B22C;
}
/* line 26, ../scss/mod/_theme.scss */
body ::-webkit-scrollbar, body ::-webkit-scrollbar-thumb {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 29, ../scss/mod/_theme.scss */
body ::-webkit-scrollbar-button {
  height: 0;
  width: 0;
  background-color: transparent;
}

/* line 36, ../scss/mod/_theme.scss */
input, textarea, keygen, select, button {
  font: 14px/1.5 Tahoma, Arial, Helvetica, "Microsoft YaHei", "宋体", sans-serif;
}

/* line 42, ../scss/mod/_theme.scss */
a:link {
  color: #333333;
  text-decoration: none;
}
/* line 47, ../scss/mod/_theme.scss */
a:hover {
  text-decoration: underline;
}

/* line 52, ../scss/mod/_theme.scss */
#header {
  background-color: #2D3B45;
}
/* line 55, ../scss/mod/_theme.scss */
#header .wrapper {
  margin: 0 auto;
  width: 980px;
  height: 40px;
}
/* line 61, ../scss/mod/_theme.scss */
#header a, #header span, #header em, #header label {
  color: #FFFFFF;
}
/* line 65, ../scss/mod/_theme.scss */
#header h1 {
  font-size: 18px;
  line-height: 40px;
}
/* line 69, ../scss/mod/_theme.scss */
#header h1 a {
  display: block;
  float: left;
  padding-left: 40px;
  color: #d9d9d9;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFpQTFRFAHG9JCBKJiNJKjFHKClIA221Kz1JJURaGVN6G1B0H0xrElyNIkljFleEKEFSHDBjCGenC2OeGjVqBmqtEF6THyhYISRSD1+UFFiGE0WAEUmGB2ClDVOT////ETmGzAAAAB50Uk5T//////////////////////////////////////8A7BgcXgAAARtJREFUeNrslN2SgyAMhRNBsFar/d/dbt7/NRcQEiq043Vnc2NGPw5JOAK0MeDzwX17sVtACy52G8ARAjkMtgARUcnLFji6Z1BhThrIYi5BTOAhB+GSgxpzSRuRWMGhAJNkH773aUmXgQ3mkt9BLqR3lx1LMEr+is6Ol0CajoDqIZX1L8CwdxOakHLnChgk0XN74q3Ht+AQ3cHpCtSuxJsHjRymWYN6kdRXKdFKEQLqMCRFeOXZ0cztZ6BaHoQTT7Fz2RetQfbGlBrwLZ+pBi4ndFoaML7j1jyDjQte4RXJeDk4GypAxcac2GFj8c9otpjLbtGOo6E3oBd3gveu/rtmoCN/gmmroPJnR7z7iV6DauOV0vxfpNX4E2AAeRuHsT2afxkAAAAASUVORK5CYII=') no-repeat;
  letter-spacing: 3px;
}
/* line 79, ../scss/mod/_theme.scss */
#header ul {
  float: right;
}
/* line 83, ../scss/mod/_theme.scss */
#header li {
  float: left;
  margin-left: 5px;
  line-height: 40px;
}
/* line 89, ../scss/mod/_theme.scss */
#header .logout {
  padding: 0 15px;
  background-color: #68BC25;
}

/* line 95, ../scss/mod/_theme.scss */
#wrapper {
  *zoom: 1;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 20px auto 0;
  width: 980px;
  background-color: #FFFFFF;
  overflow: hidden;
}
/* line 38, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/general/_clearfix.scss */
#wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 104, ../scss/mod/_theme.scss */
#main {
  float: right;
  padding: 10px;
  width: 760px;
  height: 100%;
  box-sizing: border-box;
}

/* line 112, ../scss/mod/_theme.scss */
#sidebar {
  float: left;
  background-color: #E8EAEF;
  width: 220px;
  height: 100%;
  position: relative;
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
/* line 121, ../scss/mod/_theme.scss */
#sidebar:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  -moz-box-shadow: inset rgba(128, 128, 128, 0.5) -5px 0 10px -5px;
  -webkit-box-shadow: inset rgba(128, 128, 128, 0.5) -5px 0 10px -5px;
  box-shadow: inset rgba(128, 128, 128, 0.5) -5px 0 10px -5px;
}
/* line 132, ../scss/mod/_theme.scss */
#sidebar .nav {
  padding: 10px 0;
}
/* line 136, ../scss/mod/_theme.scss */
#sidebar .nav li {
  padding: 0 0 1px;
}
/* line 140, ../scss/mod/_theme.scss */
#sidebar .nav .active {
  margin-left: -5px;
  background-color: #FFFFFF;
  border-left: 5px solid #aae57b;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-box-shadow: rgba(191, 191, 191, 0.5) 0 2px;
  -webkit-box-shadow: rgba(191, 191, 191, 0.5) 0 2px;
  box-shadow: rgba(191, 191, 191, 0.5) 0 2px;
}
/* line 149, ../scss/mod/_theme.scss */
#sidebar .nav a {
  display: block;
  padding: 5px 5px 5px 20px;
}
/* line 153, ../scss/mod/_theme.scss */
#sidebar .nav a:hover {
  background-color: #FFFFFF;
}

/* line 160, ../scss/mod/_theme.scss */
#footer {
  margin: 10px 0;
  color: #666666;
  text-align: center;
  font-size: 12px;
}

/* all */
/*
// single
.reload {
  @include icon-sprite(reload);
}
 */
/* line 3, ../scss/mod/components/_grid.scss */
.ui-grid .content {
  border: 1px solid #cccccc;
}
/* line 5, ../scss/mod/components/_grid.scss */
.ui-grid .content table {
  border-collapse: collapse;
  width: 100%;
}
/* line 2, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
.ui-grid .content th {
  text-align: center;
  font-weight: bold;
}
/* line 5, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
.ui-grid .content td,
.ui-grid .content th {
  padding: 2px;
}
/* line 8, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
.ui-grid .content td.numeric,
.ui-grid .content th.numeric {
  text-align: right;
}
/* line 16, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/tables/_borders.scss */
.ui-grid .content th, .ui-grid .content td {
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left-width: 0;
  border-top-width: 0;
}
/* line 22, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/tables/_borders.scss */
.ui-grid .content th:last-child, .ui-grid .content td:last-child {
  border-right-width: 0;
}
/* line 28, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/tables/_borders.scss */
.ui-grid .content th.last, .ui-grid .content td.last {
  border-right-width: 0;
}
/* line 33, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/tables/_borders.scss */
.ui-grid .content tbody tr:last-child th, .ui-grid .content tbody tr:last-child td, .ui-grid .content tfoot tr:last-child th, .ui-grid .content tfoot tr:last-child td {
  border-bottom-width: 0;
}
/* line 37, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/tables/_borders.scss */
.ui-grid .content tbody tr.last th, .ui-grid .content tbody tr.last td, .ui-grid .content tfoot tr.last th, .ui-grid .content tfoot tr.last td {
  border-bottom-width: 0;
}
/* line 6, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/tables/_borders.scss */
.ui-grid .content thead th {
  border-bottom: 1px solid #cccccc;
}
/* line 9, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/tables/_borders.scss */
.ui-grid .content tfoot th, .ui-grid .content tfoot td {
  border-top: 1px solid #cccccc;
}
/* line 12, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/tables/_borders.scss */
.ui-grid .content th:first-child {
  border-right: 1px solid #cccccc;
}
/* line 14, ../scss/mod/components/_grid.scss */
.ui-grid .content th, .ui-grid .content td {
  padding: 5px;
  text-align: center;
}
/* line 19, ../scss/mod/components/_grid.scss */
.ui-grid .content th {
  background-color: #e0e0e0;
}
/* line 27, ../scss/mod/components/_grid.scss */
.ui-grid .content tr:nth-child(odd) td {
  background-color: #f7f7f7;
}
/* line 31, ../scss/mod/components/_grid.scss */
.ui-grid .content tr:hover td {
  background-color: #f0f0f0;
}
/* line 37, ../scss/mod/components/_grid.scss */
.ui-grid .header, .ui-grid .footer, .ui-grid .content {
  margin: 15px 0;
}
/* line 40, ../scss/mod/components/_grid.scss */
.ui-grid .header button, .ui-grid .footer button, .ui-grid .content button {
  cursor: pointer;
  margin: 0 3px 0 0;
  padding: 3px 10px;
  height: 24px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: gray;
  border: none;
}
/* line 51, ../scss/mod/components/_grid.scss */
.ui-grid .header button:hover, .ui-grid .footer button:hover, .ui-grid .content button:hover {
  background-color: #4d4d4d;
}
/* line 55, ../scss/mod/components/_grid.scss */
.ui-grid .header button[disabled], .ui-grid .footer button[disabled], .ui-grid .content button[disabled] {
  background-color: #b3b3b3;
  cursor: default;
}
/* line 64, ../scss/mod/components/_grid.scss */
.ui-grid .list-empty {
  padding: 10px;
}

/* line 4, ../scss/mod/components/_form.scss */
.ui-form select {
  padding: 4px;
  min-height: 32px;
  line-height: 22px;
}

/* line 11, ../scss/mod/components/_form.scss */
.ui-form-input,
.ui-form-textarea {
  display: block;
  border: 1px solid #a8a8a8;
  padding: 4px 6px;
  width: 100%;
  min-height: 32px;
  line-height: 22px;
  background-color: #FFFFFF;
  outline: none;
  box-sizing: border-box;
}
/* line 24, ../scss/mod/components/_form.scss */
.ui-form-input:hover, .ui-form-input:focus,
.ui-form-textarea:hover,
.ui-form-textarea:focus {
  border-color: gray;
}

/* line 31, ../scss/mod/components/_form.scss */
.ui-form-input::-ms-clear {
  display: none;
}

/* line 40, ../scss/mod/components/_form.scss */
.ui-form-textarea {
  resize: none;
}

/* line 45, ../scss/mod/components/_form.scss */
.ui-form-items label {
  width: 195px;
  text-align: right;
  position: absolute;
  margin: 0 0 0 -200px;
  line-height: 32px;
}
/* line 52, ../scss/mod/components/_form.scss */
.ui-form-items label:after {
  content: '：';
}
/* line 60, ../scss/mod/components/_form.scss */
.ui-form-items .radio-group input,
.ui-form-items .checkbox-group input {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 64, ../scss/mod/components/_form.scss */
.ui-form-items .radio-group label,
.ui-form-items .checkbox-group label {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: auto;
  text-align: left;
  position: static;
  margin: 0 5px 0 0;
}
/* line 71, ../scss/mod/components/_form.scss */
.ui-form-items .radio-group label:after,
.ui-form-items .checkbox-group label:after {
  content: none;
}

/* line 79, ../scss/mod/components/_form.scss */
.ui-form-item {
  margin-bottom: 10px;
  padding: 0 100px 0 200px;
  position: relative;
  cursor: default;
}
/* line 86, ../scss/mod/components/_form.scss */
.ui-form-item.required > label:before {
  content: '* ';
  color: #DF3B3B;
}
/* line 92, ../scss/mod/components/_form.scss */
.ui-form-item .placeholder {
  font-size: 12px;
  position: absolute;
  left: 10px;
  top: 32px;
  height: 19px;
}

/* line 103, ../scss/mod/components/_form.scss */
.ui-form-buttons {
  padding: 20px 100px 30px 200px;
}

/* line 109, ../scss/mod/components/_form.scss */
.ui-form-button {
  cursor: pointer;
  margin: 0;
  padding: 5px 30px;
  height: 32px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: #0071BD;
  border: none;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
}
/* line 120, ../scss/mod/components/_form.scss */
.ui-form-button:hover {
  background-color: #00538a;
}

/* line 125, ../scss/mod/components/_form.scss */
.button-form-cancel {
  background-color: #787878;
}
/* line 128, ../scss/mod/components/_form.scss */
.button-form-cancel:hover {
  background-color: #5f5f5f;
}

/* line 1, ../scss/mod/components/_form-grid.scss */
.ui-form-grid {
  border: 1px solid #cccccc;
}
/* line 3, ../scss/mod/components/_form-grid.scss */
.ui-form-grid table {
  border-collapse: collapse;
  width: 100%;
}
/* line 2, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
.ui-form-grid th {
  text-align: center;
  font-weight: bold;
}
/* line 5, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
.ui-form-grid td,
.ui-form-grid th {
  padding: 2px;
}
/* line 8, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
.ui-form-grid td.numeric,
.ui-form-grid th.numeric {
  text-align: right;
}
/* line 16, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/tables/_borders.scss */
.ui-form-grid th, .ui-form-grid td {
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left-width: 0;
  border-top-width: 0;
}
/* line 22, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/tables/_borders.scss */
.ui-form-grid th:last-child, .ui-form-grid td:last-child {
  border-right-width: 0;
}
/* line 28, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/tables/_borders.scss */
.ui-form-grid th.last, .ui-form-grid td.last {
  border-right-width: 0;
}
/* line 33, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/tables/_borders.scss */
.ui-form-grid tbody tr:last-child th, .ui-form-grid tbody tr:last-child td, .ui-form-grid tfoot tr:last-child th, .ui-form-grid tfoot tr:last-child td {
  border-bottom-width: 0;
}
/* line 37, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/tables/_borders.scss */
.ui-form-grid tbody tr.last th, .ui-form-grid tbody tr.last td, .ui-form-grid tfoot tr.last th, .ui-form-grid tfoot tr.last td {
  border-bottom-width: 0;
}
/* line 6, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/tables/_borders.scss */
.ui-form-grid thead th {
  border-bottom: 1px solid #cccccc;
}
/* line 9, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/tables/_borders.scss */
.ui-form-grid tfoot th, .ui-form-grid tfoot td {
  border-top: 1px solid #cccccc;
}
/* line 12, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/tables/_borders.scss */
.ui-form-grid th:first-child {
  border-right: 1px solid #cccccc;
}
/* line 12, ../scss/mod/components/_form-grid.scss */
.ui-form-grid th {
  font-weight: normal;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 18, ../scss/mod/components/_form-grid.scss */
.ui-form-grid td {
  text-align: center;
  color: gray;
}
/* line 22, ../scss/mod/components/_form-grid.scss */
.ui-form-grid td input {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  border: none;
}

/* line 1, ../scss/mod/components/_form-search.scss */
.ui-form-search {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px dotted #cccccc;
}
/* line 7, ../scss/mod/components/_form-search.scss */
.ui-form-search .ui-form-items {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 11, ../scss/mod/components/_form-search.scss */
.ui-form-search .ui-form-item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-bottom: 0;
  padding: 0;
}
/* line 17, ../scss/mod/components/_form-search.scss */
.ui-form-search .ui-form-input {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 22, ../scss/mod/components/_form-search.scss */
.ui-form-search .ui-form-buttons {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 0;
}
/* line 27, ../scss/mod/components/_form-search.scss */
.ui-form-search .ui-form-button {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 3, ../scss/mod/components/_pagination.scss */
.ui-pagination a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  cursor: pointer;
  padding: 3px 8px;
  height: 18px;
  line-height: 18px;
  border: none;
  text-decoration: none;
}
/* line 13, ../scss/mod/components/_pagination.scss */
.ui-pagination a:hover {
  background-color: #f2f2f2;
}
/* line 18, ../scss/mod/components/_pagination.scss */
.ui-pagination .prev, .ui-pagination .next {
  font-weight: bold;
}
/* line 22, ../scss/mod/components/_pagination.scss */
.ui-pagination .current {
  background-color: #e6e6e6;
}
/* line 25, ../scss/mod/components/_pagination.scss */
.ui-pagination .current:hover {
  background-color: #e6e6e6;
}
/* line 30, ../scss/mod/components/_pagination.scss */
.ui-pagination .hellip {
  background: none;
  cursor: default;
}
/* line 34, ../scss/mod/components/_pagination.scss */
.ui-pagination .hellip:hover {
  background: none;
}
/* line 39, ../scss/mod/components/_pagination.scss */
.ui-pagination form {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 43, ../scss/mod/components/_pagination.scss */
.ui-pagination input {
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #b3b3b3;
}

/* line 55, ../scss/mod/components/_pagination.scss */
.header .ui-pagination button, .footer .ui-pagination button, .content .ui-pagination button {
  color: inherit;
  background-color: #e6e6e6;
}
/* line 59, ../scss/mod/components/_pagination.scss */
.header .ui-pagination button:hover, .footer .ui-pagination button:hover, .content .ui-pagination button:hover {
  background-color: #cccccc;
}

/* line 1, ../scss/mod/components/_dialog.scss */
.ui-dialog {
  background-color: #fff;
  border-radius: 6px;
  position: relative;
  -webkit-user-select: none;
  box-shadow: 0 1px 10px gray;
  min-width: 300px;
}

/* line 10, ../scss/mod/components/_dialog.scss */
.ui-dialog-close {
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
  margin-top: -16px;
  margin-right: -16px;
  text-indent: -9999px;
  background: url('/static/theme/default/img/icon-sf3b31b74b3.png') 0 0;
  background-repeat: no-repeat;
  background-size: 'cover';
}

/* line 26, ../scss/mod/components/_dialog.scss */
.ui-dialog-content {
  text-align: center;
}

/* line 31, ../scss/mod/components/_dialog.scss */
.ui-dialog-error .ui-dialog-content {
  padding: 30px;
}

/* line 37, ../scss/mod/components/_dialog.scss */
.ui-dialog-head {
  height: 42px;
  color: gray;
  font-size: 16px;
  line-height: 42px;
  border-bottom: 1px solid gray;
}

/* line 49, ../scss/mod/components/_dialog.scss */
.ui-dialog-message {
  padding: 20px;
  font-size: 16px;
}

/* line 54, ../scss/mod/components/_dialog.scss */
.ui-dialog-foot {
  padding: 0 20px 20px;
  text-align: center;
}

/* line 60, ../scss/mod/components/_dialog.scss */
.ui-dialog-confirm,
.ui-dialog-cancel {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 65, ../scss/mod/components/_dialog.scss */
a.ui-dialog-button {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  cursor: pointer;
  margin: 0;
  padding: 5px 30px;
  height: 22px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: #0071BD;
  border: none;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  text-decoration: none;
}
/* line 78, ../scss/mod/components/_dialog.scss */
a.ui-dialog-button:hover {
  background-color: #00538a;
}

/* line 84, ../scss/mod/components/_dialog.scss */
.ui-dialog-cancel a.ui-dialog-button {
  background-color: #787878;
}
/* line 87, ../scss/mod/components/_dialog.scss */
.ui-dialog-cancel a.ui-dialog-button:hover {
  background-color: #5f5f5f;
}

/* line 2, ../scss/mod/components/_select.scss */
.ui-select {
  background-color: #FFFFFF;
  border: 1px solid #a8a8a8;
  box-sizing: border-box;
}

/* line 9, ../scss/mod/components/_select.scss */
.ui-select-item {
  padding: 4px 16px 4px 6px;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}

/* line 19, ../scss/mod/components/_select.scss */
.ui-select-selected {
  background-color: #00538a;
  color: #FFFFFF;
}

/* line 24, ../scss/mod/components/_select.scss */
.ui-select-hover {
  background-color: #0062a4;
  color: #FFFFFF;
}

/* line 29, ../scss/mod/components/_select.scss */
.ui-select-trigger {
  display: block;
  background-color: #FFFFFF;
  padding: 4px 16px 4px 6px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #a8a8a8;
  cursor: pointer;
  position: relative;
}
/* line 40, ../scss/mod/components/_select.scss */
.ui-select-trigger:after {
  position: absolute;
  right: 1px;
  top: 7px;
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background: url('/static/theme/default/img/icon-sf3b31b74b3.png') 0 -42px;
}
/* line 51, ../scss/mod/components/_select.scss */
.ui-select-trigger:hover, .ui-select-trigger:focus {
  text-decoration: none;
  border-color: gray;
}

/* line 1, ../scss/mod/components/_upload.scss */
.webuploader-element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 7, ../scss/mod/components/_upload.scss */
.ui-upload {
  position: relative;
  min-height: 32px;
}
/* line 11, ../scss/mod/components/_upload.scss */
.ui-upload label {
  margin-left: 0;
}
/* line 14, ../scss/mod/components/_upload.scss */
.ui-upload label:after {
  content: none;
}

/* line 20, ../scss/mod/components/_upload.scss */
.ui-upload-pick {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  cursor: pointer;
  background-color: #008ff0;
  line-height: 32px;
  padding: 0 10px;
  color: #FFFFFF;
  text-align: center;
  overflow: hidden;
}
/* line 33, ../scss/mod/components/_upload.scss */
.ui-upload-pick:hover {
  background-color: #0071BD;
}

/* line 38, ../scss/mod/components/_upload.scss */
.ui-upload-queue {
  position: relative;
  border: 1px solid #a8a8a8;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 5px;
  padding: 5px 0 0 5px;
}
/* line 45, ../scss/mod/components/_upload.scss */
.ui-upload-queue:empty {
  display: none;
  margin-bottom: 0;
}
/* line 50, ../scss/mod/components/_upload.scss */
.ui-upload-queue .ui-upload-file {
  float: left;
  margin: 0 5px 5px 0;
}

/* line 56, ../scss/mod/components/_upload.scss */
.ui-upload-file {
  border: 1px solid #e6e6e6;
  position: relative;
}
/* line 63, ../scss/mod/components/_upload.scss */
.ui-upload-file:hover .ui-upload-file-buttons {
  display: block;
}
/* line 68, ../scss/mod/components/_upload.scss */
.ui-upload-file img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 74, ../scss/mod/components/_upload.scss */
.ui-upload-file-buttons {
  position: absolute;
  width: 100%;
  z-index: 1;
  display: none;
}

/* line 81, ../scss/mod/components/_upload.scss */
.ui-upload-file-remove {
  float: right;
  cursor: pointer;
  width: 18px;
  height: 18px;
  background: url('/static/theme/default/img/icon-sf3b31b74b3.png') 0 -67px;
  background-repeat: no-repeat;
  background-size: 'cover';
}

/* line 91, ../scss/mod/components/_upload.scss */
.ui-upload-message {
  float: right;
  margin: 5px 7px 0 0;
  color: #DF3B3B;
}

/* line 2, ../scss/mod/components/_validator.scss */
.ui-form-explain {
  float: right;
  margin: -27px 7px 0 0;
}

/* line 11, ../scss/mod/components/_validator.scss */
.ui-form-item-error .ui-form-input,
.ui-form-item-error .ui-form-textarea {
  border-color: #DF3B3B;
}
/* line 16, ../scss/mod/components/_validator.scss */
.ui-form-item-error .ui-form-explain {
  color: #DF3B3B;
}

/* line 14, ../scss/app/itemtype.scss */
.ui-grid-view {
  padding: 10px;
  text-align: left;
}

/* line 19, ../scss/app/itemtype.scss */
.ui-grid-view .todo {
  color: red;
}

/* line 23, ../scss/app/itemtype.scss */
.ui-grid-view dt {
  float: left;
  clear: left;
}

/* line 28, ../scss/app/itemtype.scss */
.ui-grid-view dt:after {
  content: '：';
}

/* line 32, ../scss/app/itemtype.scss */
.ui-grid-view dd {
  float: left;
  clear: right;
}
