@charset "UTF-8";
/* URIs */
/* Colors */
/* Sizes */
/* Mixins */
/* Functions */
/* line 1, ../scss/mod/_reset.scss */
body, h1, h2, h3, h4, h5, h6, p, dl, dd, form, ul, ol, pre, blockquote, textarea, input, figure {
  margin: 0;
}

/* line 5, ../scss/mod/_reset.scss */
ul, ol, th, td, button, textarea, input {
  padding: 0;
}

/* line 9, ../scss/mod/_reset.scss */
ul, ol {
  list-style: none;
}

/* line 13, ../scss/mod/_reset.scss */
a {
  text-decoration: none;
}

/* line 17, ../scss/mod/_reset.scss */
article, footer, header, nav, section {
  display: block;
}

/* line 21, ../scss/mod/_reset.scss */
button, input, textarea {
  outline: none;
}

/* line 8, ../scss/mod/_theme.scss */
html {
  font: 14px Tahoma, Arial, Helvetica, "Microsoft YaHei", "宋体", sans-serif;
  overflow: hidden;
  overflow-y: scroll;
}

/* line 14, ../scss/mod/_theme.scss */
body {
  font: 14px/1.5 Tahoma, Arial, Helvetica, "Microsoft YaHei", "宋体", sans-serif;
  background: #C0DFEF url("/static/theme/default/img/bg.jpg") repeat-x;
}
/* line 18, ../scss/mod/_theme.scss */
body ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #ECECEC;
}
/* line 23, ../scss/mod/_theme.scss */
body ::-webkit-scrollbar-thumb {
  background-color: #F8B22C;
}
/* line 26, ../scss/mod/_theme.scss */
body ::-webkit-scrollbar, body ::-webkit-scrollbar-thumb {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 29, ../scss/mod/_theme.scss */
body ::-webkit-scrollbar-button {
  height: 0;
  width: 0;
  background-color: transparent;
}

/* line 36, ../scss/mod/_theme.scss */
input, textarea, keygen, select, button {
  font: 14px/1.5 Tahoma, Arial, Helvetica, "Microsoft YaHei", "宋体", sans-serif;
}

/* line 42, ../scss/mod/_theme.scss */
a:link {
  color: #333333;
  text-decoration: none;
}
/* line 47, ../scss/mod/_theme.scss */
a:hover {
  text-decoration: underline;
}

/* line 52, ../scss/mod/_theme.scss */
#header {
  background-color: #2D3B45;
}
/* line 55, ../scss/mod/_theme.scss */
#header .wrapper {
  margin: 0 auto;
  width: 980px;
  height: 40px;
}
/* line 61, ../scss/mod/_theme.scss */
#header a, #header span, #header em, #header label {
  color: #FFFFFF;
}
/* line 65, ../scss/mod/_theme.scss */
#header h1 {
  font-size: 18px;
  line-height: 40px;
}
/* line 69, ../scss/mod/_theme.scss */
#header h1 a {
  display: block;
  float: left;
  padding-left: 40px;
  color: #d9d9d9;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFpQTFRFAHG9JCBKJiNJKjFHKClIA221Kz1JJURaGVN6G1B0H0xrElyNIkljFleEKEFSHDBjCGenC2OeGjVqBmqtEF6THyhYISRSD1+UFFiGE0WAEUmGB2ClDVOT////ETmGzAAAAB50Uk5T//////////////////////////////////////8A7BgcXgAAARtJREFUeNrslN2SgyAMhRNBsFar/d/dbt7/NRcQEiq043Vnc2NGPw5JOAK0MeDzwX17sVtACy52G8ARAjkMtgARUcnLFji6Z1BhThrIYi5BTOAhB+GSgxpzSRuRWMGhAJNkH773aUmXgQ3mkt9BLqR3lx1LMEr+is6Ol0CajoDqIZX1L8CwdxOakHLnChgk0XN74q3Ht+AQ3cHpCtSuxJsHjRymWYN6kdRXKdFKEQLqMCRFeOXZ0cztZ6BaHoQTT7Fz2RetQfbGlBrwLZ+pBi4ndFoaML7j1jyDjQte4RXJeDk4GypAxcac2GFj8c9otpjLbtGOo6E3oBd3gveu/rtmoCN/gmmroPJnR7z7iV6DauOV0vxfpNX4E2AAeRuHsT2afxkAAAAASUVORK5CYII=') no-repeat;
  letter-spacing: 3px;
}
/* line 79, ../scss/mod/_theme.scss */
#header ul {
  float: right;
}
/* line 83, ../scss/mod/_theme.scss */
#header li {
  float: left;
  margin-left: 5px;
  line-height: 40px;
}
/* line 89, ../scss/mod/_theme.scss */
#header .logout {
  padding: 0 15px;
  background-color: #68BC25;
}

/* line 95, ../scss/mod/_theme.scss */
#wrapper {
  *zoom: 1;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 20px auto 0;
  width: 980px;
  background-color: #FFFFFF;
  overflow: hidden;
}
/* line 38, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/general/_clearfix.scss */
#wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 104, ../scss/mod/_theme.scss */
#main {
  float: right;
  padding: 10px;
  width: 760px;
  height: 100%;
  box-sizing: border-box;
}

/* line 112, ../scss/mod/_theme.scss */
#sidebar {
  float: left;
  background-color: #E8EAEF;
  width: 220px;
  height: 100%;
  position: relative;
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
/* line 121, ../scss/mod/_theme.scss */
#sidebar:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  -moz-box-shadow: inset rgba(128, 128, 128, 0.5) -5px 0 10px -5px;
  -webkit-box-shadow: inset rgba(128, 128, 128, 0.5) -5px 0 10px -5px;
  box-shadow: inset rgba(128, 128, 128, 0.5) -5px 0 10px -5px;
}
/* line 132, ../scss/mod/_theme.scss */
#sidebar .nav {
  padding: 10px 0;
}
/* line 136, ../scss/mod/_theme.scss */
#sidebar .nav li {
  padding: 0 0 1px;
}
/* line 140, ../scss/mod/_theme.scss */
#sidebar .nav .active {
  margin-left: -5px;
  background-color: #FFFFFF;
  border-left: 5px solid #aae57b;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-box-shadow: rgba(191, 191, 191, 0.5) 0 2px;
  -webkit-box-shadow: rgba(191, 191, 191, 0.5) 0 2px;
  box-shadow: rgba(191, 191, 191, 0.5) 0 2px;
}
/* line 149, ../scss/mod/_theme.scss */
#sidebar .nav a {
  display: block;
  padding: 5px 5px 5px 20px;
}
/* line 153, ../scss/mod/_theme.scss */
#sidebar .nav a:hover {
  background-color: #FFFFFF;
}

/* line 160, ../scss/mod/_theme.scss */
#footer {
  margin: 10px 0;
  color: #666666;
  text-align: center;
  font-size: 12px;
}

/* all */
/*
// single
.reload {
  @include icon-sprite(reload);
}
 */
