@charset "UTF-8";
/* URIs */
/* Colors */
/* Sizes */
/* Mixins */
/* Functions */
/* line 1, ../scss/_reset.scss */
body, h1, h2, h3, h4, h5, h6, p, dl, dd, form, ul, ol, pre, blockquote, textarea, input, figure {
  margin: 0;
}

/* line 5, ../scss/_reset.scss */
ul, ol, th, td, button, textarea, input {
  padding: 0;
}

/* line 9, ../scss/_reset.scss */
ul, ol {
  list-style: none;
}

/* line 13, ../scss/_reset.scss */
a {
  text-decoration: none;
}

/* line 17, ../scss/_reset.scss */
article, footer, header, nav, section {
  display: block;
}

/* line 21, ../scss/_reset.scss */
button, input, textarea {
  outline: none;
}

/* line 8, ../scss/_theme.scss */
html {
  font: 14px Tahoma, Arial, Helvetica, "Microsoft YaHei", "宋体", sans-serif;
  overflow: hidden;
  overflow-y: scroll;
}

/* line 14, ../scss/_theme.scss */
body {
  font: 14px/1.5 Tahoma, Arial, Helvetica, "Microsoft YaHei", "宋体", sans-serif;
  background: #C0DFEF url("/static/theme/default/img/bg.jpg") repeat-x;
}
/* line 18, ../scss/_theme.scss */
body ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #ECECEC;
}
/* line 23, ../scss/_theme.scss */
body ::-webkit-scrollbar-thumb {
  background-color: #F8B22C;
}
/* line 26, ../scss/_theme.scss */
body ::-webkit-scrollbar, body ::-webkit-scrollbar-thumb {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 29, ../scss/_theme.scss */
body ::-webkit-scrollbar-button {
  height: 0;
  width: 0;
  background-color: transparent;
}

/* line 36, ../scss/_theme.scss */
input, textarea, keygen, select, button {
  font: 14px/1.5 Tahoma, Arial, Helvetica, "Microsoft YaHei", "宋体", sans-serif;
}

/* line 42, ../scss/_theme.scss */
a:link {
  color: #333333;
  text-decoration: none;
}
/* line 47, ../scss/_theme.scss */
a:hover {
  text-decoration: underline;
}

/* line 52, ../scss/_theme.scss */
#header {
  background-color: #2D3B45;
}
/* line 55, ../scss/_theme.scss */
#header .wrapper {
  margin: 0 auto;
  width: 980px;
  height: 40px;
}
/* line 61, ../scss/_theme.scss */
#header a, #header span, #header em, #header label {
  color: #FFFFFF;
}
/* line 65, ../scss/_theme.scss */
#header h1 {
  font-size: 18px;
  line-height: 40px;
}
/* line 69, ../scss/_theme.scss */
#header h1 a {
  display: block;
  float: left;
  padding-left: 40px;
  color: #d9d9d9;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFpQTFRFAHG9JCBKJiNJKjFHKClIA221Kz1JJURaGVN6G1B0H0xrElyNIkljFleEKEFSHDBjCGenC2OeGjVqBmqtEF6THyhYISRSD1+UFFiGE0WAEUmGB2ClDVOT////ETmGzAAAAB50Uk5T//////////////////////////////////////8A7BgcXgAAARtJREFUeNrslN2SgyAMhRNBsFar/d/dbt7/NRcQEiq043Vnc2NGPw5JOAK0MeDzwX17sVtACy52G8ARAjkMtgARUcnLFji6Z1BhThrIYi5BTOAhB+GSgxpzSRuRWMGhAJNkH773aUmXgQ3mkt9BLqR3lx1LMEr+is6Ol0CajoDqIZX1L8CwdxOakHLnChgk0XN74q3Ht+AQ3cHpCtSuxJsHjRymWYN6kdRXKdFKEQLqMCRFeOXZ0cztZ6BaHoQTT7Fz2RetQfbGlBrwLZ+pBi4ndFoaML7j1jyDjQte4RXJeDk4GypAxcac2GFj8c9otpjLbtGOo6E3oBd3gveu/rtmoCN/gmmroPJnR7z7iV6DauOV0vxfpNX4E2AAeRuHsT2afxkAAAAASUVORK5CYII=') no-repeat;
  letter-spacing: 3px;
}
/* line 79, ../scss/_theme.scss */
#header ul {
  float: right;
}
/* line 83, ../scss/_theme.scss */
#header li {
  float: left;
  margin-left: 5px;
  line-height: 40px;
}
/* line 89, ../scss/_theme.scss */
#header .logout {
  padding: 0 15px;
  background-color: #68BC25;
}

/* line 95, ../scss/_theme.scss */
#wrapper {
  *zoom: 1;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 20px auto 0;
  width: 980px;
  background-color: #FFFFFF;
  overflow: hidden;
}
/* line 38, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/general/_clearfix.scss */
#wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 104, ../scss/_theme.scss */
#main {
  float: right;
  padding: 10px;
  width: 760px;
  height: 100%;
  box-sizing: border-box;
}

/* line 112, ../scss/_theme.scss */
#sidebar {
  float: left;
  background-color: #E8EAEF;
  width: 220px;
  height: 100%;
  position: relative;
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
/* line 121, ../scss/_theme.scss */
#sidebar:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  -moz-box-shadow: inset rgba(128, 128, 128, 0.5) -5px 0 10px -5px;
  -webkit-box-shadow: inset rgba(128, 128, 128, 0.5) -5px 0 10px -5px;
  box-shadow: inset rgba(128, 128, 128, 0.5) -5px 0 10px -5px;
}
/* line 132, ../scss/_theme.scss */
#sidebar .nav {
  padding: 10px 0;
}
/* line 136, ../scss/_theme.scss */
#sidebar .nav li {
  padding: 0 0 1px;
}
/* line 140, ../scss/_theme.scss */
#sidebar .nav .active {
  margin-left: -5px;
  background-color: #FFFFFF;
  border-left: 5px solid #aae57b;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-box-shadow: rgba(191, 191, 191, 0.5) 0 2px;
  -webkit-box-shadow: rgba(191, 191, 191, 0.5) 0 2px;
  box-shadow: rgba(191, 191, 191, 0.5) 0 2px;
}
/* line 149, ../scss/_theme.scss */
#sidebar .nav a {
  display: block;
  padding: 5px 5px 5px 20px;
}
/* line 153, ../scss/_theme.scss */
#sidebar .nav a:hover {
  background-color: #FFFFFF;
}

/* line 160, ../scss/_theme.scss */
#footer {
  margin: 10px 0;
  color: #666666;
  text-align: center;
  font-size: 12px;
}

/* all */
/*
// single
.reload {
  @include icon-sprite(reload);
}
 */
/* line 4, ../scss/components/_form.scss */
.ui-form select {
  padding: 4px;
  min-height: 32px;
  line-height: 22px;
}

/* line 11, ../scss/components/_form.scss */
.ui-form-input,
.ui-form-textarea {
  display: block;
  border: 1px solid #a8a8a8;
  padding: 4px 6px;
  width: 100%;
  min-height: 32px;
  line-height: 22px;
  background-color: #FFFFFF;
  outline: none;
  box-sizing: border-box;
}
/* line 24, ../scss/components/_form.scss */
.ui-form-input:hover, .ui-form-input:focus,
.ui-form-textarea:hover,
.ui-form-textarea:focus {
  border-color: gray;
}

/* line 31, ../scss/components/_form.scss */
.ui-form-input::-ms-clear {
  display: none;
}

/* line 40, ../scss/components/_form.scss */
.ui-form-textarea {
  resize: none;
}

/* line 45, ../scss/components/_form.scss */
.ui-form-items label {
  width: 195px;
  text-align: right;
  position: absolute;
  margin: 0 0 0 -200px;
  line-height: 32px;
}
/* line 52, ../scss/components/_form.scss */
.ui-form-items label:after {
  content: '：';
}
/* line 60, ../scss/components/_form.scss */
.ui-form-items .radio-group input,
.ui-form-items .checkbox-group input {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 64, ../scss/components/_form.scss */
.ui-form-items .radio-group label,
.ui-form-items .checkbox-group label {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: auto;
  text-align: left;
  position: static;
  margin: 0 5px 0 0;
}
/* line 71, ../scss/components/_form.scss */
.ui-form-items .radio-group label:after,
.ui-form-items .checkbox-group label:after {
  content: none;
}

/* line 79, ../scss/components/_form.scss */
.ui-form-item {
  margin-bottom: 10px;
  padding: 0 100px 0 200px;
  position: relative;
  cursor: default;
}
/* line 86, ../scss/components/_form.scss */
.ui-form-item.required > label:before {
  content: '* ';
  color: #DF3B3B;
}
/* line 92, ../scss/components/_form.scss */
.ui-form-item .placeholder {
  font-size: 12px;
  position: absolute;
  left: 10px;
  top: 32px;
  height: 19px;
}

/* line 103, ../scss/components/_form.scss */
.ui-form-buttons {
  padding: 20px 100px 30px 200px;
}

/* line 109, ../scss/components/_form.scss */
.ui-form-button {
  cursor: pointer;
  margin: 0;
  padding: 5px 30px;
  height: 32px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: #0071BD;
  border: none;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
}
/* line 120, ../scss/components/_form.scss */
.ui-form-button:hover {
  background-color: #00538a;
}

/* line 125, ../scss/components/_form.scss */
.button-form-cancel {
  background-color: #787878;
}
/* line 128, ../scss/components/_form.scss */
.button-form-cancel:hover {
  background-color: #5f5f5f;
}

/* line 1, ../scss/components/_dialog.scss */
.ui-dialog {
  background-color: #fff;
  border-radius: 6px;
  position: relative;
  -webkit-user-select: none;
  box-shadow: 0 1px 10px gray;
  min-width: 300px;
}

/* line 10, ../scss/components/_dialog.scss */
.ui-dialog-close {
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
  margin-top: -16px;
  margin-right: -16px;
  text-indent: -9999px;
  background: url('/static/theme/default/img/icon-sf3b31b74b3.png') 0 0;
  background-repeat: no-repeat;
  background-size: 'cover';
}

/* line 26, ../scss/components/_dialog.scss */
.ui-dialog-content {
  text-align: center;
}

/* line 31, ../scss/components/_dialog.scss */
.ui-dialog-error .ui-dialog-content {
  padding: 30px;
}

/* line 37, ../scss/components/_dialog.scss */
.ui-dialog-head {
  height: 42px;
  color: gray;
  font-size: 16px;
  line-height: 42px;
  border-bottom: 1px solid gray;
}

/* line 49, ../scss/components/_dialog.scss */
.ui-dialog-message {
  padding: 20px;
  font-size: 16px;
}

/* line 54, ../scss/components/_dialog.scss */
.ui-dialog-foot {
  padding: 0 20px 20px;
  text-align: center;
}

/* line 60, ../scss/components/_dialog.scss */
.ui-dialog-confirm,
.ui-dialog-cancel {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 65, ../scss/components/_dialog.scss */
a.ui-dialog-button {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  cursor: pointer;
  margin: 0;
  padding: 5px 30px;
  height: 22px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: #0071BD;
  border: none;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  text-decoration: none;
}
/* line 78, ../scss/components/_dialog.scss */
a.ui-dialog-button:hover {
  background-color: #00538a;
}

/* line 84, ../scss/components/_dialog.scss */
.ui-dialog-cancel a.ui-dialog-button {
  background-color: #787878;
}
/* line 87, ../scss/components/_dialog.scss */
.ui-dialog-cancel a.ui-dialog-button:hover {
  background-color: #5f5f5f;
}

/* line 2, ../scss/components/_validator.scss */
.ui-form-explain {
  float: right;
  margin: -27px 7px 0 0;
}

/* line 11, ../scss/components/_validator.scss */
.ui-form-item-error .ui-form-input,
.ui-form-item-error .ui-form-textarea {
  border-color: #DF3B3B;
}
/* line 16, ../scss/components/_validator.scss */
.ui-form-item-error .ui-form-explain {
  color: #DF3B3B;
}

/* line 6, ../scss/login.scss */
#main {
  float: none;
  width: auto;
}

/* line 11, ../scss/login.scss */
.ui-form {
  width: 400px;
  margin: 50px auto;
}

/* line 16, ../scss/login.scss */
.ui-form-items {
  padding: 10px 0 0;
  border: 1px solid #cccccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 22, ../scss/login.scss */
.ui-form-item {
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}
/* line 26, ../scss/login.scss */
.ui-form-item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

/* line 32, ../scss/login.scss */
.ui-form-buttons,
.ui-form-item {
  padding-left: 100px;
}
