.webuploader-container {
  position: relative;
  label {
    margin-left: 0;
  }
  .webuploader-pick {
    position: relative;
    @include inline-block();
    cursor: pointer;
    background: #00b7ee;
    line-height: 30px;
    padding: 0 rem(1);
    color: $white;
    text-align: center;
    @include border-radius(rem(0.3));
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
  }
}

.ui-uploader-queue {
  position: relative;

  .pic {
    @include border-radius(rem(0.4));
  }

  .image {
    position: relative;
    @include inline-block();
  }

  .handle {
    position: absolute;
    right: rem(-5.5);
    bottom:rem(0.9);
    width: 40px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: rem(0.2);
    cursor: pointer;
    background-color: #1370ef;
    color: $white;
  }
}
