.ui-form {
  // padding: 20px 125px;

  select {
    padding: 4px;
    min-height: 32px;
    line-height: 22px;
  }
}

.ui-form-input,
.ui-form-textarea {
  display: block;
  border: 1px solid lighten($black, 80);
  padding: 4px 6px;
  width: 100%;
  min-height: 32px;
  line-height: 22px;
  background-color: $white;
  outline: none;
  box-sizing: border-box;
  // @include border-radius($border-radius);

  &:hover,
  &:focus {
    border-color: lighten($black, 60);
  }
}

.ui-form-input {
  &::-ms-clear {
    display: none;
  }

  // &[required] {
    // border-color: red;
  // }
}

.ui-form-textarea {
  resize: none;
}

.ui-form-items {
  label {
    width: 195px;
    text-align: right;
    position: absolute;
    margin: 0 0 0 -#{rem(20)};
    line-height: 32px;

    &:after {
      content: 'ï¼š';
    }
  }

  .radio-group,
  .checkbox-group {

    input {
      @include inline-block();
    }

    label {
      @include inline-block();
      width: auto;
      text-align: left;
      position: static;
      margin: 0 5px 0 0;

      &:after {
        content: none;
      }
    }

  }
}

.ui-form-item {
  margin-bottom: 10px;
  padding: 0 rem(10) 0 rem(20);
  position: relative;
  cursor: default;

  &.required {
    > label:before {
      content: '* ';
      color: $red;
    }
  }

  .placeholder {
    font-size: rem(1.2);
    // color: $tip_color;
    position: absolute;
    left: 10px;
    top: 32px;
    height: 19px;
  }
}

//btn
.ui-form-buttons {
  // margin: 30px;
  padding: rem(2) rem(10) rem(3) rem(20);
  // text-align: right;
}

.ui-form-button {
  cursor: pointer;
  margin: 0 rem(1) 0 0;
  padding: rem(0.5) rem(3);
  height: rem(3.2);
  line-height: rem(2.2);
  color: $white;
  background-color: $orange;
  border: none;

  &:hover {
    background-color: darken($orange, 10);
  }
}

.button-form-cancel {
  background-color: darken(grayscale($orange), 10);

  &:hover {
    background-color: grayscale($orange);
  }
}
