.ui-form-simple {

  .ui-form-items {
  }

  .ui-form-item {
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .ui-form-input {
  }

  .ui-form-buttons {
    display: none;
  }

  .ui-form-button {
  }

}
