@import "../var";
@import "dialog";
.progress-dialog {
  width: 407px !important;
  .ui-dialog-close {
    display: none !important;
  }
  .progress {
    position: relative;
    margin-top: 24px;
    height: 85px;
    background-image: url($image_url + 'progress.gif');
    background-repeat: no-repeat;
    background-position: center;
    .bar-wrapper {
      position: absolute;
      bottom: 0;
      height: 2px;
      width: 100%;
      background-color: #444;
      border-radius: 4px;
    }
    .bar {
      position: absolute;
      bottom: 0;
      height: 2px;
      width: 0;
      background-color: #f8b22c;
      border-radius: 4px;
    }
  }
  .ui-dialog-content {
    margin-top: 36px;
    margin-bottom: 29px;
    .ui-dialog-foot {
      margin-top: 24px;
      .ui-dialog-cancel {
        background-color: #f8b22c;
        border-color: #f8b42c;
        margin-left: 0;
        .ui-dialog-button-white {
          color: #fff;
        }
      }
    }
  }
}
.progress-dialog.success {
  .progress {
    background-image: url($image_url + 'progress-success.png');
    margin-bottom: 22px;
    height: 133px;
    .bar-wrapper {
      display: none;
    }
  }
  .ui-dialog-content {
    margin-bottom: 40px;
    .ui-dialog-main {
      font-size: 30px;
      color: #f88d22;
    }
    .ui-dialog-foot {
      display: none;
    }
  }
}
.progress-dialog.error {
  .progress {
    display: none;
  }
  .ui-dialog-content {
    margin-top: 0;
  }
  .error {
    padding-top: 20px;
  }

  .ui-dialog-error-ignore, .ui-dialog-error-cancel {
    display: inline-block;
    width: 120px;
    height: 34px;
    line-height: 34px;
    font-size: 16px;

  }
  .ui-dialog-error-ignore {
    color: #fff;
    background-color: #f8b22c;
    border: 1px solid #f8b22c;
  }
  .ui-dialog-error-cancel {
    background-color: #fff;
    color: #a0a0a0;
    margin-left: 20px;
    border: 1px solid #a0a0a0;
  }
}
