//select
.ui-select {
  background-color: $white;
  border: 1px solid lighten($black, 80);
  // @include border-radius($border-radius);
  box-sizing: border-box;
  max-height: rem(30);
  overflow: auto;
  box-sizing: border-box;
}

.ui-select-item {
  padding: 4px 16px 4px 6px;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}

.ui-select-selected {
  background-color: darken($light_blue, 10);
  color: $white;
}

.ui-select-hover {
  background-color: darken($light_blue, 5);
  color: $white;
}

.ui-select-trigger {
  display: block;
  background-color: $white;
  padding: 4px 16px 4px 6px;
  height: rem(3.2);
  line-height: rem(2.2);
  border: 1px solid lighten($black, 80);
  cursor: pointer;
  // @include border-radius($border-radius);
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;

  &:after {
    position: absolute;
    right: 1px;
    top: 7px;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: sprite($icon, down);
  }

  &:hover,
  &:focus {
    text-decoration: none;
    border-color: lighten($black, 60);
  }
}
