/* alice.tip 样式模块 */

.ui-tip {
  color: $white_color;
  z-index: 101;
  font-size: 12px;
  line-height: 1.5;
  zoom: 1;
}
.ui-tip-shadow {
  background-color: #666;
  background-color: fade-out($black_color, 0.25);
  // FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#26e5a96b, endColorstr=#26e5a96b);
  /* Math.floor(0.15 * 255).toString(16); */

  border-radius: 2px;
  padding: 2px;
  zoom: 1;
  _display: inline;
}
.ui-tip-container {
  position: relative;
  // background-color: fade-out($black_color, 0.25);
  // border: 1px solid fade-out($black_color, 0.25);
  border-radius: 2px;
  padding: 5px 15px;
  zoom: 1;
  _display: inline;
}
.ui-tip:after, .ui-tip-shadow:after, .ui-tip-container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.ui-tip-arrow {
  position: absolute;
  z-index: 10;
  *zoom: 1;
}
.ui-tip-arrow em {
  position: absolute;
  *zoom: 1;
  width: 0;
  height: 0;
  /* 解决window下firefox的border渲染出深色边框的问题 */
  /* http://stackoverflow.com/questions/13630886/firefox-17-and-css-borders-based-triangles-not-rendering-properly */
  border-color: rgb(255, 255, 255);
  border-color: rgba(255, 255, 255, 0);
  border-color: transparent\0;
  *border-color: transparent;
  _border-color: tomato;
  _filter: chroma(color=tomato);
  /* http://blog.sina.com.cn/s/blog_6283c54a0100f7ae.html */

  border-style: solid;
  overflow: hidden;
  top: 0;
  left: 0;
}
/* 箭头用 border 实现 http://www.css88.com/demo/border/border1.html */
/* 箭头在左边 10,9 */

.ui-tip-arrow-10 {
  left: -6px;
  top: 10px;
}
.ui-tip-arrow-10 em {
  top: 0;
  left: -1px;
  border-right-color: #666;
  border-right-color: fade-out($black_color, 0.25);
  border-width: 6px 6px 6px 0;
}
.ui-tip-arrow-9 {
  left: -6px;
  top: 50%;
}
.ui-tip-arrow-9 em {
  top: -6px;
  left: -1px;
  border-right-color: #666;
  border-right-color: fade-out($black_color, 0.25);
  border-width: 6px 6px 6px 0;
}
/* 箭头在右边 2,3 */

.ui-tip-arrow-2 {
  top: 10px;
  right: 0;
}
.ui-tip-arrow-2 em {
  top: 0;
  left: 1px;
  border-left-color: #666;
  border-left-color: fade-out($black_color, 0.25);
  border-width: 6px 0 6px 6px;
}
.ui-tip-arrow-3 {
  top: 50%;
  right: 0;
}
.ui-tip-arrow-3 em {
  top: -6px;
  left: 1px;
  border-left-color: #666;
  border-left-color: fade-out($black_color, 0.25);
  border-width: 6px 0 6px 6px;
}
/* 箭头在上边 11,12,1 */

.ui-tip-arrow-11 em, .ui-tip-arrow-12 em, .ui-tip-arrow-1 em {
  border-width: 0 6px 6px;
  border-bottom-color: #666;
  border-bottom-color: fade-out($black_color, 0.25);
  top: -2px;
  left: 0;
}
.ui-tip-arrow-11 {
  left: 14px;
  top: -6px;
}
.ui-tip-arrow-1 {
  right: 28px;
  top: -6px;
}
.ui-tip-arrow-12 {
  left: 50%;
  top: -6px;
}
.ui-tip-arrow-12 em {
  left: -6px;
}
/* 箭头在下方 5 6 7 */

.ui-tip-arrow-5 em, .ui-tip-arrow-6 em, .ui-tip-arrow-7 em {
  border-width: 6px 6px 0;
  border-top-color: #666;
  border-top-color: fade-out($black_color, 0.25);
  top: 1px;
  left: 0;
}
.ui-tip-arrow-5 {
  right: 28px;
  bottom: 0;
}
.ui-tip-arrow-6 {
  left: 50%;
  bottom: 0;
}
.ui-tip-arrow-7 {
  left: 14px;
  bottom: 0;
}
.ui-tip-arrow-6 em {
  left: -6px;
}
/* ie9 filter */

:root .ui-tip-shadow {
  FILTER: none\9;
}
