.ui-tree {

  ul {
    border: 1px solid red;
  }

  li {
    padding-left: 2em;

    ul {
      display: none;
    }

    &.opened {
      > ul {
        display: block;
      }
    }
  }

}

.ui-tree-branch {
  cursor: default;

  &:before {
    content: '＋';
  }
}

.ui-tree-leaf {
  cursor: default;

  &:before {
    content: '　';
  }
}
// └ ─ ├ ─ │

.opened {
  > .ui-tree-branch {
    &:before {
      content: '－';
    }
  }
}
