.to-user {
  .ui-select-trigger {
    position: relative;
    border-color: $btn_bk_color;
    margin: 10px;
    height: 30px;
    line-height: 30px;
    padding: 0 22px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include border-radius(5px);
    background: none;
    &:after {
      @include inline-block();
      position: absolute;
      content: '';
      border: 8px solid transparent;
      border-top-color: $btn_bk_color;
      top: 10px;
      right: 8px;
    }
  }

}

.ui-userlist {
  border-top: 1px solid #e5e5e5;
  padding-left: 20px;
  font-size: $base_size*1.2;
  .user-type {
    color: #717171;
    text-align: left;
    padding: 0 0 10px;
  }
  li {
    position: relative;
    margin: 0 33px 10px 0;
    float: left;
    width: 55px;
    height:70px;
    overflow: hidden;
    img {
      cursor: pointer;
      width: 48px;
      height: 48px;
      @include border-radius(50%);
    }
    &.selected:after {
      position: absolute;
      content: '';
      width: 22px;
      height: 22px;
      background: sprite($icon, selected) no-repeat;
      top: 30px;
      left: 38px;
    }

  }
}

