.ui-grid {

  .content {

    table {
      border-collapse: collapse;
      width: 100%;
    }

    @include table-scaffolding;
    @include inner-table-borders(1px, lighten($black, 80));
    @include outer-table-borders(1px, lighten($black, 80));

    th, td {
      padding: rem(0.5);
      text-align: center;
    }

    th {
      background-color: darken($white, 12);
    }

    tr:nth-child(even) td {

    }

    tr:nth-child(odd) td {
      background-color: darken($white, 3);
    }

    tr:hover td {
      background-color: darken($white, 6);
    }

  }

  .header, .footer, .content {
    margin: rem(1.5) 0;

    button {
      cursor: pointer;
      margin: 0 rem(0.3) 0 0;
      padding: rem(0.3) rem(1);
      height: rem(2.4);
      line-height: rem(1.8);
      color: $white;
      background-color: darken($white, 50);
      border: none;
      // @include border-radius(rem(0.6));

      &:hover {
        background-color: darken($white, 70);
      }

      &[disabled] {
        background-color: darken($white, 30);
        cursor: default;
        // cursor: not-allowed;
      }
    }

  }

  .list-empty {
    padding: rem(1);
  }

}
