@import "compass/css3";
@import "compass/utilities";
@import "../sprite";
@import 'dialog';
.date-public {
  height: 22px;
  border: 1px solid #f8b42c;
  border-radius: 3px;
  padding-left: 0;
  line-height: 22px;
}
.i-style, .calendar-input {
  background-image: sprite-url($icon);
}
.i-style {
  position: absolute;
  right: 1px;
  display: block;
  width: 11px;
  height: 11px;
  background-repeat: no-repeat;
  &:hover {
    cursor: pointer;
  }
}
.warning-dialog {
  width: 622px !important;
  .ui-dialog-content {
    margin-bottom: 24px;
  }
  .ui-dialog-title {
    font-size: 16px;
  }
  .ui-dialog-message {
    text-align: left;
    width: 602px;
    margin: 16px auto 0;
    font-size: 12px;
    color: #363636;
  }
  .tip {
    margin-left: 32px;
  }
  .calendar {
    width: 400px;
    text-align: center;
    margin: 18px auto 0;
    input {
      text-indent: 10px;
      font-size: 15px;
    }
    .calendar-input {
      @extend .date-public;
      width: 120px;
      background-position: sprite-position($icon, calendar, 95px, 1.5px);
      background-repeat: no-repeat;
      cursor: pointer;
    }
    .hours, .minutes {
      position: relative;
      margin-left: 58px;
      width: 47px;
      height: 24px;
      @include inline-block();
      input {
        @extend .date-public;
        width: 45px;
        *margin-left: -10px;
        *margin-top: -1px;
      }
      .up {
        @extend .i-style;
        background-position: sprite-position($icon, 'click-up');
        top: 1px;
      }
      .down {
        @extend .i-style;
        background-position: sprite-position($icon, 'click-down');
        bottom: 1px;
      }
    }
    .word {
      color: #f8b42c;
      margin-left: 13px;
    }
  }
  .widget-calendar {
    .widget-calendar-date-5, .widget-calendar-date-6 {
      color: #f8b22c !important;
    }
    .curr-date {
      background-color: #ef0000 !important;
    }
  }
  .notice-account {
    border-top: 1px solid #dcdcdc;
    margin-top: 16px;
    .sum {
      margin-top: 23px;
      margin-left: 40px;
    }
    .sum-num {
      font-size: 16px;
      color: #ef0000;
    }
    .classes {
      width: 530px;
      margin: 0 auto;
      li {
        width: 154px;
        height: 22px;
        line-height: 22px;
        background-color: #fef0d0;
        @include inline-block();
        border-radius: 11px;
        margin-left: 10px;
        margin-top: 20px;
        text-align: center;
      }
    }
    .class-one {
      color: #686868;
      .amount {
        color: #ef0000;
      }
    }
  }
  .ui-dialog-confirm, .ui-dialog-cancel {
    width: 200px !important;
    height: 39px !important;
    line-height: 39px !important;
  }
}
