/* URIs */

$image_url: '/theme/default/img/';

// --------------------------------------

/* Colors */
// base
$white: #FFFFFF;
$black: #000000;
$red: #DF3B3B;
$orange: #E7604A;
$dark_blue: #293541;
$light_blue: #0071BD;
$light_sky: #C0DFEF;
$light_green: #68BC25;

// scrollbar
$scrollbar_color: #ECECEC;
$scrollbar_thumb_color: $orange;

// --------------------------------------

/* Sizes */

$base_size: 10px;
$header_height: 50px;
$sidebar_width: 210px;
$main_width: 760px;
$border_radius: 4px;

// --------------------------------------
